{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"scripts/build_pages_report.cljk" ".clj"
  "scripts/report_maturity.cljk" ".clj"
  "scripts/run_calculix_contact_evidence.cljk" ".clj"
  "scripts/run_calculix_contact_mesh_study.cljk" ".clj"
  "scripts/run_calculix_evidence.cljk" ".clj"
  "scripts/run_calculix_mesh_study.cljk" ".clj"
  "scripts/run_calculix_plastic_evidence.cljk" ".clj"
  "scripts/run_calculix_plastic_mesh_study.cljk" ".clj"
  "scripts/run_calculix_thermoplastic_evidence.cljk" ".clj"
  "scripts/run_calculix_thermoplastic_mesh_study.cljk" ".clj"
  "scripts/run_mpi_evidence.cljk" ".clj"
  "scripts/run_openfoam_bump_rans_evidence.cljk" ".clj"
  "scripts/run_openfoam_evidence.cljk" ".clj"
  "scripts/run_openfoam_sbse_mesh_evidence.cljk" ".clj"
  "scripts/run_openfoam_sbse_rans_evidence.cljk" ".clj"
  "scripts/run_openfoam_sbse_urans_evidence.cljk" ".clj"
  "scripts/verify_external_dataset.cljk" ".clj"
  "src/cae/adapter.cljk" ".cljc"
  "src/cae/advanced.cljk" ".cljc"
  "src/cae/assessment.cljk" ".cljc"
  "src/cae/backend.cljk" ".cljc"
  "src/cae/calculix_contact_mesh.cljk" ".clj"
  "src/cae/calculix_mesh.cljk" ".clj"
  "src/cae/calculix_plastic_mesh.cljk" ".clj"
  "src/cae/calculix_thermoplastic_mesh.cljk" ".clj"
  "src/cae/case_writer.cljk" ".cljc"
  "src/cae/dataset.cljk" ".cljc"
  "src/cae/external_evidence.cljk" ".cljc"
  "src/cae/h2_heat_demand.cljk" ".cljc"
  "src/cae/h2_heater_limit.cljk" ".cljc"
  "src/cae/h2_kinetics.cljk" ".cljc"
  "src/cae/h2_line_drop.cljk" ".cljc"
  "src/cae/h2_tank_storage.cljk" ".cljc"
  "src/cae/high_fidelity.cljk" ".cljc"
  "src/cae/host.cljk" ".cljc"
  "src/cae/industrial.cljk" ".cljc"
  "src/cae/interchange.cljk" ".cljc"
  "src/cae/material_card.cljk" ".cljc"
  "src/cae/maturity.cljk" ".cljc"
  "src/cae/nonlinear.cljk" ".cljc"
  "src/cae/openfoam_bump.cljk" ".clj"
  "src/cae/orchestration.cljk" ".cljc"
  "src/cae/protocol.cljk" ".cljc"
  "src/cae/result_reader.cljk" ".cljc"
  "src/cae/sbse_block_mesh.cljk" ".clj"
  "src/cae/sbse_geometry.cljk" ".cljc"
  "src/cae/sbse_grid_study.cljk" ".clj"
  "src/cae/sbse_rans.cljk" ".clj"
  "src/cae/sbse_urans.cljk" ".clj"
  "src/cae/solver.cljk" ".cljc"
  "src/cae/study.cljk" ".cljc"
  "src/cae/verification.cljk" ".cljc"
  "src/cae/vv.cljk" ".cljc"
  "src/cae/webgpu.cljk" ".cljs"
  "test/cae/assessment_test.cljk" ".clj"
  "test/cae/backend_test.cljk" ".cljc"
  "test/cae/calculix_contact_mesh_test.cljk" ".clj"
  "test/cae/calculix_mesh_test.cljk" ".clj"
  "test/cae/calculix_plastic_mesh_test.cljk" ".clj"
  "test/cae/calculix_thermoplastic_mesh_test.cljk" ".clj"
  "test/cae/cljs_smoke_test.cljk" ".cljs"
  "test/cae/dataset_test.cljk" ".clj"
  "test/cae/external_evidence_fixture_test.cljk" ".clj"
  "test/cae/external_evidence_test.cljk" ".cljc"
  "test/cae/h2_desorption_test.cljk" ".clj"
  "test/cae/h2_heat_demand_test.cljk" ".clj"
  "test/cae/h2_heater_limit_test.cljk" ".clj"
  "test/cae/h2_kinetics_test.cljk" ".clj"
  "test/cae/h2_line_drop_test.cljk" ".clj"
  "test/cae/h2_tank_storage_test.cljk" ".clj"
  "test/cae/high_fidelity_test.cljk" ".clj"
  "test/cae/industrial_test.cljk" ".clj"
  "test/cae/interchange_test.cljk" ".clj"
  "test/cae/material_card_test.cljk" ".clj"
  "test/cae/maturity_test.cljk" ".clj"
  "test/cae/openfoam_bump_test.cljk" ".clj"
  "test/cae/orchestration_test.cljk" ".clj"
  "test/cae/qualification_matrix_test.cljk" ".clj"
  "test/cae/sbse_block_mesh_test.cljk" ".clj"
  "test/cae/sbse_geometry_test.cljk" ".clj"
  "test/cae/sbse_grid_study_test.cljk" ".clj"
  "test/cae/sbse_rans_test.cljk" ".clj"
  "test/cae/sbse_urans_test.cljk" ".clj"
  "test/cae/solver_test.cljk" ".clj"
  "test/cae/study_test.cljk" ".clj"
  "test/cae/thermoplastic_evidence_test.cljk" ".clj"
  "test/cae/thermoplastic_sensitivity_test.cljk" ".clj"
  "test/cae/vv_test.cljk" ".cljc"}}
