{:openfoam-v2506-arm64
 {:solver :openfoam
  :version "v2506"
  :image "openeuler/openfoam@sha256:6f623ef0cedfff72771eb19db4e3d701bee92d8cf42dcead5f5ec49187564cea"
  :image-digest "sha256:6f623ef0cedfff72771eb19db4e3d701bee92d8cf42dcead5f5ec49187564cea"
  :architecture "arm64"
  :source "https://hub.docker.com/r/openeuler/openfoam"
  :case :icofoam-cavity
  :tutorial "$FOAM_TUTORIALS/incompressible/icoFoam/cavity/cavity"
  :commands ["blockMesh" "icoFoam"]}
 :calculix-2.21-arm64
 {:solver :calculix
  :version "2.21"
  :image "kotoba/calculix@sha256:23af088069e8f4c51f7ab0f7b8b760955563f43edfe2924cfb52ec293df21330"
  :image-digest "sha256:23af088069e8f4c51f7ab0f7b8b760955563f43edfe2924cfb52ec293df21330"
  :architecture "arm64"
  :base-image "ubuntu@sha256:4fbb8e6a8395de5a7550b33509421a2bafbc0aab6c06ba2cef9ebffbc7092d90"
  :package "calculix-ccx=2.21-1"
  :case :axial-unit-cube
  :commands ["ccx" "-i" "axial"]}
 :openmpi-4.1.6-arm64
 {:solver :openmpi
  :version "4.1.6"
  :image "kotoba/openmpi@sha256:e67ab8954e22c30ce64913341c3eb23dc25632ecae6bdb154c2ce23ec917942c"
  :image-digest "sha256:e67ab8954e22c30ce64913341c3eb23dc25632ecae6bdb154c2ce23ec917942c"
  :architecture "arm64"
  :base-image "ubuntu@sha256:4fbb8e6a8395de5a7550b33509421a2bafbc0aab6c06ba2cef9ebffbc7092d90"
  :packages ["openmpi-bin=4.1.6-7ubuntu2" "libopenmpi-dev=4.1.6-7ubuntu2"]
  :case :distributed-pi-allreduce
  :ranks 4
  :samples 1000000
  :commands ["mpirun" "--allow-run-as-root" "--oversubscribe" "-np" "4"
             "/usr/local/bin/kotoba-mpi-worker" "1000000"]}}
