[{:db/ident :maturity/id :db/valueType :db.type/keyword :db/cardinality :db.cardinality/one :db/unique :db.unique/identity}
 {:db/ident :maturity/repo :db/valueType :db.type/string :db/cardinality :db.cardinality/one :db/index true}
 {:db/ident :maturity/domain :db/valueType :db.type/keyword :db/cardinality :db.cardinality/one :db/index true}
 {:db/ident :maturity/implementation :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/numerical-verification :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/experimental-validation :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/software-quality :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/integration :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/score :db/valueType :db.type/double :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/percent :db/valueType :db.type/double :db/cardinality :db.cardinality/one}
 {:db/ident :maturity/evidence :db/valueType :db.type/string :db/cardinality :db.cardinality/many}]
