{:case-id "openmpi-4.1.6-four-rank-pi"
 :solver :openmpi
 :solver-version "4.1.6"
 :image-digest "sha256:e67ab8954e22c30ce64913341c3eb23dc25632ecae6bdb154c2ce23ec917942c"
 :command ["mpirun" "--allow-run-as-root" "--oversubscribe" "-np" "4"
           "/usr/local/bin/kotoba-mpi-worker" "1000000"]
 :exit-codes [0 0]
 :worker-source {:path "rank_worker.c"
                 :sha256 "2d6c96dbf0d67cc31635e50591ecb9b3f50bca0f724b4e64a8236bd7779c3903"
                 :bytes 2597}
 :output-files [{:path "run-1.log"
                 :sha256 "8c3732a0f19a67b66ce6d90612943d7d0682a4f084c8e3e9f6df43987660b8fd"
                 :bytes 380}
                {:path "run-2.log"
                 :sha256 "8c3732a0f19a67b66ce6d90612943d7d0682a4f084c8e3e9f6df43987660b8fd"
                 :bytes 380}]
 :runs [{:format :kotoba-mpi-log-v1
         :ranks [{:rank 0 :size 4 :samples 250000 :partial-sum 785398.9133972038}
                 {:rank 1 :size 4 :samples 250000 :partial-sum 785398.4133977519}
                 {:rank 2 :size 4 :samples 250000 :partial-sum 785397.913397739}
                 {:rank 3 :size 4 :samples 250000 :partial-sum 785397.4133972088}]
         :rank-count 4
         :result {:size 4 :samples 1000000 :pi 3.1415926535899033
                  :absolute-error 1.1013412404281553e-13}
         :allreduce :sum :gather? true :complete? true}
        {:format :kotoba-mpi-log-v1
         :ranks [{:rank 0 :size 4 :samples 250000 :partial-sum 785398.9133972038}
                 {:rank 1 :size 4 :samples 250000 :partial-sum 785398.4133977519}
                 {:rank 2 :size 4 :samples 250000 :partial-sum 785397.913397739}
                 {:rank 3 :size 4 :samples 250000 :partial-sum 785397.4133972088}]
         :rank-count 4
         :result {:size 4 :samples 1000000 :pi 3.1415926535899033
                  :absolute-error 1.1013412404281553e-13}
         :allreduce :sum :gather? true :complete? true}]
 :deterministic? true
 :error-tolerance 1.0e-12
 :platform "linux/arm64-container"
 :executed-at "2026-07-11T07:32:11.240518Z"
 :passed? true
 :status :external-mpi-verified}
